@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}

main {
  background-color: white;
  border-radius: 20px;
  width: 1100px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
main aside {
  position: relative;
}
main .illustration-container {
  width: 450px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
main .illustration-shadow {
  background-color: #ebebef;
  transform: skew(-60deg, 30deg);
  width: 450px;
  height: 300px;
  position: absolute;
  bottom: -10%;
  left: -70%;
  border-radius: 8%;
  z-index: 2;
}
main .illustration-border:nth-child(3) {
  border: 1px solid #ebebef;
  transform: skew(-60deg, 30deg);
  width: 450px;
  height: 300px;
  left: -75%;
  top: -25%;
  position: absolute;
  border-radius: 8%;
  z-index: 1;
}
main .illustration-border:nth-child(4) {
  border: 1px solid #ebebef;
  transform: skew(-60deg, 30deg);
  width: 450px;
  height: 300px;
  left: -75%;
  top: -12%;
  position: absolute;
  border-radius: 8%;
  z-index: 1;
}
main .illustration {
  width: 450px;
  top: calc(50% - 165px);
  left: -20%;
  position: absolute;
  z-index: 3;
}
main .box-container {
  width: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50% - 48px);
  left: -98px;
  z-index: 3;
}
main .FAQ {
  width: 55%;
}
main h1 {
  font-weight: 700;
  margin: 50px 0px;
}
main h2 {
  font-weight: 400;
  font-size: 17px;
  width: 100%;
  color: hsl(240deg, 6%, 50%);
}
main p {
  font-size: 15px;
  width: 80%;
  color: hsl(237deg, 12%, 33%);
  display: none;
  margin-top: 0px;
}
main .dividers {
  border-top: 1px solid hsl(240deg, 5%, 91%);
  width: 80%;
}
main .last-divider {
  margin-bottom: 100px;
}

.questions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  cursor: pointer;
}
.questions img {
  width: 10px;
}
.questions a {
  align-self: center;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  main .illustration-container {
    width: 250px;
    overflow: visible;
  }
  main .illustration {
    width: 250px;
    height: 250px;
    left: 0px;
    top: -145px;
  }
  main .illustration-shadow {
    top: 0px;
    width: 120px;
    height: 70px;
    left: 27%;
  }
  main .box-container {
    width: 110px;
    left: -5%;
  }
  main h1 {
    text-align: center;
  }
  main .FAQ {
    margin-top: 100px;
    margin-bottom: 25px;
    width: 100%;
  }
  main .questions {
    width: 90%;
    margin: auto;
  }
  main p {
    width: 90%;
    margin: auto;
  }
  main .last-divider {
    margin-bottom: 50px;
  }
  main .illustration-border:nth-child(3),
main .illustration-border:nth-child(4) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */