$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-blue: hsl(238, 29%, 16%);
$text-grayish: hsl(237, 12%, 33%);
$text-dark-grayish: hsl(240, 6%, 50%);
$divider-color: hsl(240, 5%, 91%);

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html {
	height: 100%;
}

body {
	min-height: 100%;
	background: linear-gradient($soft-violet, $soft-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Kumbh Sans", sans-serif;
	margin: 0;
}

main {
	background-color: white;
	border-radius: 20px;
	width: 1100px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.15);
	z-index: 1;
	aside {
		position: relative;
	}
	.illustration-container {
		width: 450px;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.illustration-shadow {
		background-color: lighten($text-grayish, 60%);
		transform: skew(-60deg, 30deg);
		width: 450px;
		height: 300px;
		position: absolute;
		bottom: -10%;
		left: -70%;
		border-radius: 8%;
		z-index: 2;
	}
	.illustration-border:nth-child(3) {
		border: 1px solid lighten($text-grayish, 60%);
		transform: skew(-60deg, 30deg);
		width: 450px;
		height: 300px;
		left: -75%;
		top: -25%;
		position: absolute;
		border-radius: 8%;
		z-index: 1;
	}
	.illustration-border:nth-child(4) {
		border: 1px solid lighten($text-grayish, 60%);
		transform: skew(-60deg, 30deg);
		width: 450px;
		height: 300px;
		left: -75%;
		top: -12%;
		position: absolute;
		border-radius: 8%;
		z-index: 1;
	}
	.illustration {
		width: 450px;
		top: calc(50% - 165px);
		left: -20%;
		position: absolute;
		z-index: 3;
	}
	.box-container {
		width: 200px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: calc(50% - 48px);
		left: -98px;
		z-index: 3;
	}
	.FAQ {
		width: 55%;
	}
	h1 {
		font-weight: 700;
		margin: 50px 0px;
	}

	h2 {
		font-weight: 400;
		font-size: 17px;
		width: 100%;
		color: $text-dark-grayish;
	}

	p {
		font-size: 15px;
		width: 80%;
		color: $text-grayish;
		display: none;
		margin-top: 0px;
	}

	.dividers {
		border-top: 1px solid $divider-color;
		width: 80%;
	}
	.last-divider {
		margin-bottom: 100px;
	}
}

.questions {
	display: flex;
	justify-content: space-between;
	width: 80%;
	cursor: pointer;
	img {
		width: 10px;
	}
	a {
		align-self: center;
		text-decoration: none;
	}
}

@media screen and (max-width: 1200px) {
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		margin: auto;
		.illustration-container {
			width: 250px;
			overflow: visible;
		}
		.illustration {
			width: 250px;
			height: 250px;
			left: 0px;
			top: -145px;
		}
		.illustration-shadow {
			top: 0px;
			width: 120px;
			height: 70px;
			left: 27%;
		}
		.box-container {
			width: 110px;
			left: -5%;
		}
		h1 {
			text-align: center;
		}
		.FAQ {
			margin-top: 100px;
			margin-bottom: 25px;
			width: 100%;
		}
		.questions {
			width: 90%;
			margin: auto;
		}
		p {
			width: 90%;
			margin: auto;
		}
		.last-divider {
			margin-bottom: 50px;
		}
		.illustration-border:nth-child(3),
		.illustration-border:nth-child(4) {
			display: none;
		}
	}
}
